<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="container">

    <ul class="nav justify-content-center">
          <li class="nav-item">
          <a class="nav-link active" href="#">Админка</a>
        </li>
          <li class="nav-item">
            <a class="nav-link active" href="<%= posts_path %>">Статьи</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Контакты</a>
          </li>






        <ul class="nav justify-content-center">
              <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Выход", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to "Вход", new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Регистрация", new_user_registration_path, class: "nav-link" %>

              </li>

            <% end %>
          </ul>

      </div>

    </ul>




    <div class ="container main" >
      <div class="row">
        <div class ="col-md-12">
          <% flash.each do |name, message| %>
            <div class="alert alert-<%= name %>">
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>

    <div class="row">
      <div class ="col-md-9">
    <%= yield %>
  </div>
  <div class ="col-md-3">

    <div class="tag_cloud">
    <% tag_cloud(Tag.counts, %w{tag1 tag2 tag3 tag4 tag5}) do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>
  </div>
</div>
</div>


  </body>
</html>
